.header-position {
    position: fixed;
    z-index: 100;
}

.fa-bars {
    margin-left: 20px;
}

.nav-item.menu:hover {
    background-color: #e9ecef !important;
    border-radius: 10px !important;
}