.containerInfoGoods {
    
    display: flex !important;
    flex-direction: row !important;
    margin-top: 2rem !important;
    justify-content: space-between;
}

.containerFormsGoods{
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    margin-top: 2rem !important;
    justify-content: space-between;
}

.InputSeleted{
    width: 10px !important;
}