.Container{
width: 80%;
height: 800px;
border: solid 2px #dee2e6;
border-radius: 1rem;
display: flex;
flex-direction: row;
margin-left:250px;
margin-top: 120px;
}

.ContainerFormInfo{
    width: 30% !important;
    height: 50%;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.ContainerBtnSection{
    margin-top: 100px;
    margin-left: 120px;
}

.Button{
    margin-top: 80px;
    margin-left: 80px;
    width: 120px;
    height: 60px;
}

.formInfoProyect{
    margin-top: 80px;
    margin-left: 50px;
    width: 70%;
    height: 50px;
}

.inputFloating{
    margin-top: 20px
}

.text{
    text-align: center;
    margin-bottom: 20px;
}
