.containerInfo {
    display: flex !important;
    flex-direction: row !important;
    margin-top: 1rem !important;
    justify-content: space-between;
}

.custom-modal .modal-dialog {
    max-width: 800px; /* Ajusta el valor según el ancho deseado */
  }

.InputSelect{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.inputFloatingModal{
    margin-top: 15px !important;
}
