.ContainerForm{
    border:solid 1px rgb(175, 176, 178);
    width: 1210px;
    height: 250px;
    margin-left: -70px;
    margin-top: -40px;
    display: flex;
    flex-direction: row;
}

.ContainerTables{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: -110px;
}

.Block1{
    border:solid 1px rgb(175, 176, 178);
    width: 300px;
    height: 150px;
    margin-top: 80px;
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.Block2{
    border: solid 1px rgb(175, 176, 178);
    width: 750px;
    height: 150px;
    margin-top: 80px;
    margin-left: 50px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.Block3{
    border: solid 1px rgb(175, 176, 178);
    width: 475px;
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.inputFloating{
    width: 300px !important;
    margin-left: 30px;
}

.title{
 margin-top: 40px;
 margin-left: 20px;
}